# --- System & Python Junk ---
.DS_Store
Thumbs.db
.venv/
__pycache__/
*.pyc
.vscode/

# --- C++ Build Artifacts ---
build/
*.o
*.out
*.app

# --- Data Handling ---
data/**/*.csv
!data/train/.gitkeep
!data/test/.gitkeep

# --- Results Handling ---
results/**/*.csv
results/*.csv
results/logs/
results/figures/